body {
  background-color: #17252a;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


nav {
  text-align: right;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.into {

  align-items: center;
  padding-left: 30px;
}

#hi {
  color: #def2f1;
  font-size: 20px;
  font-size: 25px;
  padding-top: 225px;
  font-family: 'Courier New', monospace;
}

#name {
  color: #def2f1;
  font-family: Georgia, serif;
  font: bold;
  font-size: 105px;
}

#dign {
  color: rgb(163, 228, 253);
  font-size: 20px;
  padding-left: 350px;
  ;
  font-family: 'Courier New', monospace;
}








.hdrt {
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  padding: 20px;
  color: white;
  text-decoration: none;

}


.pncht {
  background-color: #2b7a78;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #def2f1;
  cursor: pointer;
  border: 3px solid;
  margin-left: 350px;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.pncht:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .pncht {
    padding: 0.25em 0.75em;
  }
}

#spl {
  margin-left: 30px;
}
<<<<<<< HEAD

main {
  flex: 1;
  padding-left: 30px;
}


